import {WunderGraphContext} from "./provider";
import {useCallback, useContext, useEffect, useMemo, useState} from "react";
import {
{{- range $i, $operation := .OperationsData }}
    {{ $operation.Operation.Name }}Response,{{ if $operation.Operation.HasVariables }}
    {{ $operation.Operation.Name }}Variables,{{ end -}}
{{ end }}
    RequestConfig
} from "./client";

export const useWunderGraph = () => {
    const ctx = useContext(WunderGraphContext)
    if (ctx === undefined) {
        throw new Error("It seems you forgot to put WunderProvider at the root of your application. Otherwise there might be a but so please contact us.")
    }
    const logout = useCallback(() => {
        ctx.client.logout();
        ctx.setIsAuthenticated(ctx.client.isLoggedIn());
    }, [ctx]);
    return {
        client: ctx.client,
        isAuthenticated: ctx.isAuthenticated,
        startLogin: ctx.client.login,
        logout,
    }
}

interface OperationParams {
    requiresAuthentication: boolean
    initialVariables?: any
    operationType: OperationType,
    lazy: boolean,
}

enum OperationType {
    "Query" = "Query",
    "Mutation" = "Mutation",
    "Subscription" = "Subscription"
}

export enum OperationState {
    "Init" = "Init",
    "Loading" = "Loading",
    "Success" = "Success",
    "Error" = "Error",
    "LazyWaitingForRefetch" = "LazyWaitingForRefetch",
    "WaitingForAuthentication" = "WaitingForAuthentication",
}

export interface QueryParams {
    lazy?: boolean
}

const useOperation = <Response>(fetch: ((requestConfig?: RequestConfig) => Promise<Response>) | ((variables: any, requestConfig?: RequestConfig) => Promise<Response>), params: OperationParams) => {
    const [response, setResponse] = useState<Response>();
    const [operationState, setOperationState] = useState<OperationState>(OperationState.Init);
    const [lastRefetch, setLastRefetch] = useState<number | undefined>(undefined)
    const [variables, setVariables] = useState<any>(params.initialVariables);
    const {isAuthenticated} = useWunderGraph();
    const abortController = useMemo<AbortController>(() => new AbortController(), [lastRefetch, isAuthenticated, variables]);
    const abort = useCallback(() => {
        abortController.abort();
    }, [abortController]);
    useEffect(() => {
        if (params.requiresAuthentication && !isAuthenticated) {
            setResponse(undefined);
            setOperationState(OperationState.WaitingForAuthentication);
            return;
        }
        if (params.lazy && lastRefetch === undefined){
            setOperationState(OperationState.LazyWaitingForRefetch);
            return;
        }
        (async () => {
            setOperationState(OperationState.Loading);
            try {
                const response = variables === undefined ? await fetch({
                    abort_signal: abortController.signal,
                }) : await fetch(variables, {
                    abort_signal: abortController.signal,
                });
                if (abortController.signal.aborted) {
                    return
                }
                setOperationState(OperationState.Success);
                setResponse(response);
            } catch (e) {
                setOperationState(OperationState.Error);
                setResponse(undefined);
            }
        })();
        return () => {
            abort();
        }
    }, [isAuthenticated, lastRefetch, abortController, variables,params.lazy])
    const refetch = useCallback(() => {
        setLastRefetch(Date.now());
    }, [setLastRefetch])
    return {
        response,
        refetch,
        operationState,
        abort,
        setVariables
    }
}
{{ range $i, $operation := .OperationsData }}
export interface {{ camelcase $operation.Operation.OperationPrefix }}{{ $operation.Operation.Name }}Params extends QueryParams { {{- if $operation.Operation.HasVariables }}
    variables: {{ $operation.Operation.Name }}Variables,
{{ end -}}}

export const use{{ camelcase $operation.Operation.OperationPrefix }}{{ $operation.Operation.Name }} = (params{{ if not $operation.Operation.HasVariables }}?{{ end }}: {{ camelcase $operation.Operation.OperationPrefix }}{{ $operation.Operation.Name }}Params) => {
    const {client} = useWunderGraph();
    const operationParams: OperationParams = {
        operationType: OperationType.Query,
        {{ if $operation.Operation.HasVariables -}}
            initialVariables: params.variables,
        {{ end -}}
        requiresAuthentication: true,
        lazy: params{{ if not $operation.Operation.HasVariables }}?{{ end }}.lazy === true,
    };
    const {response, refetch, operationState, abort{{ if $operation.Operation.HasVariables }}, setVariables{{ end }}} = useOperation<{{ $operation.Operation.Name }}Response>(client.{{ $operation.Operation.OperationPrefix }}{{ $operation.Operation.Name }}, operationParams);
    {{- if $operation.Operation.HasVariables }}
    const refetchVariables: (variables: {{ $operation.Operation.Name }}Variables) => void = useCallback((variables: {{ $operation.Operation.Name }}Variables) => {
        setVariables(variables);
    }, [setVariables]);{{ end }}
    return {
        data: response?.data,
        errors: response?.errors,
        refetch,
        {{ if $operation.Operation.HasVariables -}}
        refetchVariables,
        {{ end -}}
        operationState,
        abort,
    }
}
{{ end }}